<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title</title>
    @* <link href="@Url.Content("~/Content/Site.css")" rel="stylesheet" type="text/css" />*@
    <style>
        * {
            margin: 0;
            padding: 0;
            border: 0;
        }
    </style>
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <link href="http://cdn.kendostatic.com/2013.2.918/styles/kendo.common.min.css" rel="stylesheet" type="text/css" />
    <link href="http://cdn.kendostatic.com/2013.2.918/styles/kendo.dataviz.min.css" rel="stylesheet" type="text/css" />
    <link href="http://cdn.kendostatic.com/2013.2.918/styles/kendo.blueopal.min.css" rel="stylesheet" type="text/css" />
    <link href="http://cdn.kendostatic.com/2013.2.918/styles/kendo.dataviz.blueopal.min.css" rel="stylesheet" type="text/css" />

    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/kendoall")
    @Scripts.Render("~/bundles/kendoaspnetmvc")
    @Scripts.Render("~/bundles/kendoculture")








    @*<script src="http://cdn.kendostatic.com/2013.2.918/js/jquery.min.js"> </script>*@

    @*<script src="http://ajax.aspnetcdn.com/ajax/signalr/jquery.signalr-2.0.0.js"> </script>*@
    @*<script src="~/signalr/hubs"></script>*@
</head>
<body>
    <header>
        @* @Html.Partial("_LoginPartial")*@



        @(
 Html.Kendo().Menu()
            .Name("Menu")
            .BindTo("sitemap")

        )

    </header>
    <div id="body">
        @RenderSection("featured", required: false)
        @RenderBody()

        @*ActionMilliseconds: @ViewData["ActionMilliseconds"]
            ResultMilliseconds: @ViewData["ResultMilliseconds"]*@
    </div>
    <footer>
        @*<script src="http://cdn.kendostatic.com/2013.2.918/js/kendo.all.min.js"> </script>
            <script src="http://cdn.kendostatic.com/2013.2.918/js/kendo.aspnetmvc.min.js"> </script>
            <script src="http://cdn.kendostatic.com/2013.2.918/js/cultures/kendo.culture.en-IE.min.js"> </script>*@
        <script type="text/javascript">
            //set current to the "en-IE" culture script
            kendo.culture("en-IE");

            function error_handler(e) {
                if (e.errors) {
                    var message = "Errors:\n";
                    $.each(e.errors, function (key, value) {
                        if ('errors' in value) {
                            $.each(value.errors, function () {
                                message += this + "\n";
                            });
                        }
                    });
                    alert(message);
                }
            }
        </script>
    </footer>
</body>
</html>