<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title</title>
   

    @*<script src="~/Scripts/jquery-2.1.0.min.js"></script>
    <script src="~/Scripts/WebUIValidation.js"></script>*@
    @Styles.Render("~/Content/bundles/css")
    @Scripts.Render("~/bundles/js")
   
    <script type="text/javascript">

        //$(document).ajaxError(function (event, request, settings, exception) {
           
        //    var window = $("#window");
        //    window.data("kendoWindow").content(exception + "." + " Please try again!");
        //    window.data("kendoWindow").center();
        //    window.data("kendoWindow").open();
   
        //});

    </script>

</head>
<body>
    <header>
        @* @Html.Partial("_LoginPartial")*@



        @(

 Html.Kendo().Window()
            .Name("window")
            .Width(300)
            .Height(200)
            .Modal(true)
            .Title("Error!")
            .Visible(false)
            .Actions(actions => actions.Pin().Refresh().Maximize().Close()))

        @(Html.Kendo().Menu()
            .Name("Menu")
            .BindTo("sitemap")
            .SecurityTrimming(false) // causes EXTREMELY slow debugging.

        )

    </header>

    <div id="body">
        @RenderSection("featured", required: false)
        @RenderBody()
    </div>
    <footer>
        <script type="text/javascript">
            function exportGridData(sender) {

                var gridDiv = ($(sender)).parents('div[class~="k-grid"]').first(); // да точно така е!!!
                var grid = gridDiv.data("kendoGrid");

                $.ajax({
                    type: "POST",
                    url: "/Download/ExportWithOpenXML",
                    contentType: "application/json; charset=utf-8",
                    data: JSON.stringify({
                        html: grid.table.context.innerHTML
                    }),
                    success: function (data) {
                    },
                    error: function (result) {
                        alert('Oh no: ' + result.responseText);
                    },
                    async: false
                });
            }

            function getWeekString(weekInt) {
                //debugger;
                var res;
                $.ajax({
                    type: "POST",
                    url: "/Chart/GetWeekString",
                    contentType: "application/json; charset=utf-8",
                    data: JSON.stringify({
                        dateEncoded: weekInt
                    }),
                    success: function (data) {
                        res = data;
                    },
                    error: function (result) {
                        alert('Oh no: ' + result.responseText);
                    },
                    async: false
                });

                return res;
            }

        </script>

    </footer>
</body>
</html>